*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', system-ui;
  color: #fff;

  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(400px, 4fr);
  grid-template-rows: 200px 1fr;
}

li {
  list-style-type: none;
}

ul, ol {
  padding: 0;
}

/* ASIDE */

aside {
  background-color: #1992d4;
  padding: 16px;

  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header, .navbar li {
  display: flex;
  align-items: center;
}

.header {
  gap: 16px;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navbar li {
  font-weight: 600;
  font-size: 1.1rem;
  gap: 24px;
}

.navbar-icon {
  width: 25px;
}

/* HEADER */
header {
  background-color: #fff;
  
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/* MAIN */

main {
  background-color: #e2e8f0;
}